p {
    font-family: "Comic Sans MS";
    font-size: 150%;
  }
  hr {
    border-style: dotted none none;
    border-color: #eaf6f6;
    border-width: 8px;
    width: 5%;
  }
  h1 {
    font-family: "Comic Sans MS";
    font-size: 250%;
    color: #4831D4;
  }
  h3{
      color: #4831D4;
  }
  body{
      background-color: powderblue;
  }